@media(max-width:767px){
    .custom-container {
        width: 500px;
    }
}
@media(min-width:768px){
    .custom-container {
        width: 500px;
    }
}
@media(min-width:992px){
    .custom-container {
        width: 500px;
    }
}
@media(min-width:1200px){
    .custom-container {
        width: 500px;
    }
}

body {
    background: url("/images/studio.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-size: 5em;
    color: #f0f0f0;
}

.a-my {
    color: #c0c0c0;
}


.a-my:visited {
    color: #a0a0a0;
}
label {
    font-size: 1em;
}

.a-my:hover{
    color: #f0f0f0;
    text-decoration: underline;
}
label {
    font-size: 1em;
}

.custom-container {
    padding: 10px;
    background: rgba(0, 0, 0, .4);
    margin-top: 5em;
}

/*.input-xl {*/
    /*height: 5em;*/
/*}*/

label {
    font-size: 1.5em;
    color: #f0f0f0;
}